 body {
      font-family: "Hiragino Kaku Gothic ProN", sans-serif;
      text-align: center;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition: background 0.5s;
      background-image: url(/image/aki.webp);
    }
    h1 {
      color: #333;
      background-color: #d2691e;
      border-radius: 18px;
      margin-bottom: 20px;
      padding: 10px 10px;
    }
    button {
      background: #d2691e;
      color: white;
      border: none;
      padding: 10px 20px;
      font-size: 18px;
      border-radius: 8px;
      cursor: pointer;
      transition: 0.3s;
      margin: 10px;
    }
    button:hover {
      background: #a0522d;
    }
    .result {
      margin-top: 30px;
      font-size: 20px;
      color: #333;
    }
    .fade-in {
      opacity: 0;
      animation: fadeIn 2s forwards;
    }
      @keyframes fadeIn {
      to {
        opacity: 1;
      }
    }
    .result img {
      margin-top: 15px;
      width: 120px;
      height: auto;
    }